.border {
    -fx-background-color: radial-gradient(radius 100%, #9999ff, #693086);
}

.grid {
    -fx-padding: 5;
    -fx-hgap: 5;
}

.anchor {
    -fx-padding: 0 5 5 5;
}

/*
For properly work of TextArea -fx-background-color it is
necessary to change TextArea's child nodes (TextArea, ScrollPane,
ViewPort, Content) backgrounds to transparent
*/
.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

#output-text {
    -fx-background-color: #aaaaaa;
}

#save-btn {
    -fx-graphic: "styles/save_btn.png";
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#1a971a, #000000);
}

#save-btn:hover {
    -fx-background-color: linear-gradient(#000000, #1a971a);
}